<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">

<div class="container" id="home_container" style="font-family:Roboto">
	<div class="main" style="text-align:center">

		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
		        <%= link_to "Preferences", '#' %> |
						<%= link_to "Other Blogs", users_path %> |

		        <!-- Bundle logout and change password, as well as other user
		             functionalities in a cog wheel of some sort -->

        		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>


		      <% else %>
		        <%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>

		<!-- Insert ARAD logo here -->
		<div class="logospace">
			<%= link_to root_path do %>
				<h1>ARAD<br>A Recipe A Day</h1>
			<% end %>
		</div>


		<!-- Insert food slideshow here -->
<!-- 		<div id="scrolling_container">
			<img class="slides" src="images/image_of_apple.jpg" alt="image of apples">
			<img class="slides" src="images/image_of_apple.jpg" alt="image of apples">
			<img class="slides" src="images/image_of_apple.jpg" alt="image of apples">
		</div>

		<div clas="center">
			<div class="section">
				<button class="light-grey-button" onclick="plusDivs(-1)">< Prev</button>
				<button class="light-grey-button" onclick="plusDivs(1)">Next ></button>
			</div>
		</div> -->

		<% if logged_in? %>
			<%= link_to "UPLOAD", upload_path %>

		<% else %>
			<ul>
				<li>Diversify your dishes!</li>
				<li>Learn new cooking skills!</li>
				<li>Show off your Food Journal!</li>
			</ul>

		<% end %>		

<!-- 		<%= link_to "GET STARTED", signup_path, class: "btn btn-lg btn-primary" %> -->
	</div>
</div>

<!-- <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
	showDivs(slideIndex += n);
}

function showDivs(n) {
	var i;
	var x = document.getElementsByClassName("slides");
	if(n > x.length) {
		slideIndex = 1;
	}

	if(n < 1) {
		slideIndex = x.length;
	}

	for(i = 0; i < x.length; i++) {
		x[i].style.dislpay = "none";
	}

	x[slideIndex-1].style.display = "block";
}

</script> -->
