<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container" id="home_container" style="font-family:Roboto">
	<div class="main" style="text-align:center">

		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
				<%= link_to "Other Blogs", users_path %> |
        		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>
		      <% else %>
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>

		<div class="logospace">
			<%= link_to root_path do %>
				<%= image_tag("logo2.png") %>
			<% end %>
		</div>

		<br>

		<% if logged_in? %>

		<div class="row">
		  <% if @errors %>
		    <%= @errors[:message] %>
		  <% else %>
		    <% @recipes.each_slice(3) do |recipes| %>

		    <h1>Welcome, <%= current_user.name %>!</h1>
		    <h1>Today's recipe is...</h1>

		      <div class="col-sm-3" style="float:none; margin: 0 auto;">
		        <% recipes.each do |recipe| %>
		          <div class="RecipeCard">
		            <div class="row">
		              <div class="col-xs-12">
		                <%= link_to recipe_path(recipe.id) do %>
		                  <%= image_tag recipe.image, class: 'img-responsive' %>
		                <% end %>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-xs-12 RecipeCard-description">
		                <h4><%= recipe.title %></h4>
		                <div class="Icon-container">
		                  <div>
		                    <% if recipe.gluten_free %>
		                      <i class="Icon Icon--small Icon-glutenFree"></i>
		                    <% end %>

		                    <% if recipe.dairy_free %>
		                      <i class="Icon Icon--small Icon-dairyFree"></i>
		                    <% end %>

		                    <% if recipe.vegetarian %>
		                      <i class="Icon Icon--small Icon-vegetarian"></i>
		                    <% end %>

		                    <% if recipe.vegan %>
		                      <i class="Icon Icon--small Icon-vegan"></i>
		                    <% end %>
		                  </div>
		                  <div>
		                    <i class="Icon Icon--small Icon-like"></i> <span><%= recipe.aggregate_likes %></span>
		                  </div>
		                  <div>
		                    <i class="Icon Icon--small Icon-clock"></i> <%= recipe.ready_in_minutes %> min
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        <% end %>
		      </div>
		    <% end %>
		  <% end %>
		</div>
			<a href="./upload" class="btn btn-primary">UPLOAD</a>
		<% else %>

		<div class="container">
		  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
		    <!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
		      <div class="item active">
		        <img src="/assets/dairy_free.png" alt="Chania" width="115" height="86.25">
		      </div>
		      <div class="item">
		        <img src="/assets/gluten_free.png" alt="Chania" width="115" height="86.25">
		      </div>
		      <div class="item">
		        <img src="/assets/vegan.png" alt="Flower" width="115" height="86.25">
		      </div>
		      <div class="item">
		        <img src="/assets/vegetarian.png" alt="Flower" width="115" height="86.25">
		      </div>
		    </div>
		  </div>
		</div>


			<ul>
				<br>
				<br>
				<li>Diversify your dishes!</li>
				<li>Learn new cooking skills!</li>
				<li>Show off your Food Journal!</li>
				<br>
				<br>
				<a href="./signup" class="btn btn-primary" style="width:30%; font-size:150%">GET STARTED</a>
			</ul>

		<% end %>
	</div>
</div>
