<% provide(:title, "Upload") %>

<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">

<div style="font-family:Roboto">
	<div class="main" style="text-align:left">
		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
				<%= link_to "Other Blogs", users_path %> |
        		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>
		      <% else %>
		        <%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>

	    <% if logged_in? %>
		    <div class="information" >
		      <h1 style="text-align:center">Upload</h1>
		      <br>
		    </div>

			<div class="row">
			    <aside >
			      <section class="micropost_form">
			        <%= render 'shared/micropost_form' %>
			      </section>
			    </aside>

		</div>
		<% end %>
	</div>	
</div>



