<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">

<div class="container" id="home_container" style="font-family:Roboto">
	<div class="main" style="text-align:center">
		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Food Journal", current_user %> |
						<%= link_to "Other Blogs", users_path %> |
        		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>
		      <% else %>
		        <%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>
  		<div class="logospace">
  			<%= link_to root_path do %>
  				<%= image_tag("logo3.png") %>
  			<% end %>
  		</div>

<% if @recipe.errors %>
  <%= @recipe.errors[:message] %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @recipe.title %></h1>
    </div>
  </div>
  <div class="Recipe">
    <div class="row">
      <div class="col-xs-6" style="float:none; margin: 0 auto;">
        <%= image_tag @recipe.image, class: 'Recipe-image img-responsive', :style=>'border: 10px double #a6a6a6'%>

        <div class="Icon-container">
          <% if @recipe.gluten_free %>
            <%= image_tag("gluten_free.png") %>
          <% end %>

          <% if @recipe.dairy_free %>
            <%= image_tag("dairy_free.png") %>
          <% end %>

          <% if @recipe.vegetarian %>
            <%= image_tag("vegetarian.png") %>
          <% end %>

          <% if @recipe.vegan %>
            <%= image_tag("vegan.png") %>
          <% end %>

          <%= image_tag("clock.png") %>
          <%= @recipe.ready_in_minutes %> min
        </div>
      </div>
    </div>

    <div class="row Recipe-details">
      <div class="col-xs-5">
        <h3>Ingredients</h3>
        <% @recipe.ingredients.each do |ingredient| %>
          <div class="Recipe-ingredient">
            <%= ingredient.original_string %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-6" style="border-left:2px solid black;">
        <h3>Instructions</h3>
        <% @recipe.instructions.each do |instruction| %>
          <div class="Recipe-instruction">
            <span class="Recipe-instructionNumber">
              <%= instruction.number %>
            </span>
            <span class="Recipe-instructionStep">
              <%= instruction.step %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>