<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600|Roboto" rel="stylesheet">

<div class="container" id="home_container" style="font-family:Roboto">
	<div class="main" style="text-align:center">

		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
						<%= link_to "Other Blogs", users_path %> |

		        <!-- Bundle logout and change password, as well as other user
		             functionalities in a cog wheel of some sort -->

        		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>


		      <% else %>
		        <%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>

  		<div class="logospace">
  			<%= link_to root_path do %>
  				<img src="/assets/logo.png" alt="ARAD Logo">
  			<% end %>
  		</div>

<% if @recipe.errors %>
  <%= @recipe.errors[:message] %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @recipe.title %></h1>

    </div>
  </div>

  <div class="Recipe">
    <div class="row">
      <div class="col-xs-6" style="float:none; margin: 0 auto;">
        <%= image_tag @recipe.image, class: 'Recipe-image img-responsive' %>

        <div class="Icon-container">
          <% if @recipe.gluten_free %>
            <i class="Icon Icon--default Icon-glutenFree"></i>
          <% end %>

          <% if @recipe.dairy_free %>
            <i class="Icon Icon--default Icon-dairyFree"></i>
          <% end %>

          <% if @recipe.vegetarian %>
            <i class="Icon Icon--default Icon-vegetarian"></i>
          <% end %>

          <% if @recipe.vegan %>
            <i class="Icon Icon--default Icon-vegan"></i>
          <% end %>

          <i class="Icon Icon--default Icon-clock"></i> <%= @recipe.ready_in_minutes %> min
        </div>
      </div>
    </div>

    <div class="row Recipe-details">
      <div class="col-xs-5">
        <h3>Ingredients</h3>
        <% @recipe.ingredients.each do |ingredient| %>
          <div class="Recipe-ingredient">
            <%= ingredient.original_string %>
          </div>
        <% end %>
      </div>

      <div class="col-xs-6">
        <h3>Instructions</h3>
        <% @recipe.instructions.each do |instruction| %>
          <div class="Recipe-instruction">
            <span class="Recipe-instructionNumber">
              <%= instruction.number %>
            </span>
            <span class="Recipe-instructionStep">
              <%= instruction.step %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
