<% provide(:title, "Upload") %>
      <div>
            <%= form_for(:user) do |f| %>

            <%= f.label :name%>
            <br>
            <%= f.text_field :name, class: 'form-control', placeholder: "Title"%>

            <br>
            <%= f.label :photo %>
            <br>
            <%= f.file_field :photo %>

            <br>
            <%= f.label :description %>
            <br>
            <%= f.text_field :description, placeholder:"Description"%>

            <br>
            <%= f.submit "Submit" %>
            <br>

            <% end %>            
      </div>
