<% provide(:title, "Edit user") %>

<div style="font-family:Roboto">
	<div class="main" style="text-align:left">
		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
						<%= link_to "Other Blogs", users_path %> |
	    		  <%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>
		      <% else %>
		     	<%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>
    <div style="text-align:center">
    <h1>Update your profile</h1>  
    <br>
    </div>


<div class="row"  style="max-width:600px; margin: 0 auto;">
  <div class="col-md-6 col-md-offset-3" style="margin-left:150px">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name%>
      <br>
      <%= f.text_field :name, class: 'form-control', placeholder: "Full Name", :style=>'width:40%', :style=>'margin:0 0 3px 0'%>
      <br>

      <%= f.label :email %>
      <br>
      <%= f.email_field :email, class: 'form-control', placeholder: "Email Address", :style=>'width:40%', :style=>'margin:0 0 3px 0'%>
      <br>

      <%= f.label :password, "New password" %>
      <br>
      <%= f.password_field :password, class: 'form-control', placeholder: "Password", :style=>'width:40%', :style=>'margin:0 0 3px 0'%>
      <br>

      <%= f.label :password_confirmation, "Confirm new password" %>
      <br>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password", :style=>'width:40%', :style=>'margin:0 0 3px 0'%>
      <br>

      <br>
      <div style="text-align:center">
       <%= f.submit "SAVE CHANGES", class: "btn btn-primary", :style=>'cursor:pointer', :style=>'width:40%', :style=>'margin:0 0 3px 0'%>       
      </div>

			<br>
			<%= link_to "Back to Home Page", root_path, :style=>'cursor:pointer', :style=>'margin: 0 0 3px 0'%>
			<br>
    <% end %>

  </div>
</div>
