<% provide(:title, @user.name) %>
<div style="font-family:Roboto">
	<div class="main" style="text-align:center">
		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Profile", current_user %> |
		        <%= link_to "Preferences", '#' %> |
						<%= link_to "Other Blogs", users_path %> |

		        <!-- Bundle logout and change password, as well as other user
		             functionalities in a cog wheel of some sort -->

	    		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>

		      <% else %>
		     	<%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>

		<!-- Insert ARAD logo here -->
		<div class="logospace">
			<%= link_to root_path do %>
				<h1>ARAD<br>A Recipe A Day</h1>
			<% end %>
		</div>

	</div>
</div>

<div style="font-family:Roboto">
<div class="col-md-8">
	<% if @user.microposts.any? %>
		<h2> <%= @user.name %>'s Recipes </h2>
		<ol class="microposts">
			<%= render @microposts %>
		</ol>
		<%= will_paginate @microposts %>
	<% end %>
</div>
</div>
