<% provide(:title, @user.name) %>
<div style="font-family:Roboto">
	<div class="main" style="text-align:center">
		<header class="navbar">
		    <nav style="text-align:right">
		      <% if logged_in? %>
		        <%= link_to "Food Journal", current_user %> |
				<%= link_to "Other Journals", users_path %> |
	    		<%= link_to "Settings", edit_user_path(current_user) %> |
		        <%= link_to "Log Out", logout_path, method: :delete %>
		      <% else %>
		     	<%= link_to "Sign Up", signup_path %> |
		        <%= link_to "Log In", login_path %>
		      <% end %>
		    </nav>
		</header>
		<div class="logospace">
			<%= link_to root_path do %>
				<%= image_tag("logo4.png") %>
			<% end %>
		</div>
	</div>
</div>

<div style="font-family:Roboto">
<div>
	<% if @user.microposts.any? %>
		<h1 style="text-align:center; text-decoration: underline"> <%= @user.name %>'s Food Journal </h1>
		<br>
		<%= render @microposts %>
		
		<%= will_paginate @microposts %>
	<% end %>
</div>
</div>
