<div class="floating-box" id="micropost-<%= micropost.id %>">

  <%= image_tag micropost.picture.url, :class => "style_image" if micropost.picture? %>
  <div class="microcontent">
    <h5 style="text-align:center; font-weight:bold"><%= micropost.title %></h5>
    <%= micropost.content %> 
    <br>
    <br>
    <%= micropost.created_at.strftime("%b. %d, %Y") %>

    #<% if current_user?(micropost.user) || current_user.admin? %>
    <% if current_user?(micropost.user) %>
    | <%= link_to "Delete", micropost, method: :delete,
                                     data: { confirm: "Are you sure?" } %>

    <% end %>
    <br>
    <br>
  </div>
</div>
